<!-- begin header template -->
<style>
	#mainHeader {
		position: sticky;
		top: 0; /* top of page */
		height: 25vh;

		background-color:transparent;
		display: flex;
		justify-content: center;
	}

	#mainHeaderImg {
		height: 100%;
	}

	.headerLink {
		align-self: center;
		margin-left: 20%;
	}
</style>
<div id="mainHeader">
	<img alt="banner for the site" id="mainHeaderImg" src="/static/images/banner.webp" onclick="window.location = '/'"/>

	{% if request.cookies.get("USERNAME") is defined %}
	<a class="headerLink" href="/logout/">Logout</a>
	{% else %}
	<a class="headerLink" href="/login/">Login</a>
	<a class= "headerLink" href="/register/">Not a member?</a>
	{% endif %}
</div>
<!-- end header template -->
