<!-- HEADER TEMPLATE -->
<div id="mainHeader" data-nosnippet>
	<div id="mainHeaderLogoWrapper" onclick="window.location = '/'" style="cursor:pointer;" >
		<div id="mainHeaderLogo">
			<h2 id="mainHeaderLogoTitle">Digital Nook</h2>
			<p id="mainHeaderLogoSub">Australian game servers</p>
		</div>
		<img alt="logo fire image" id="mainHeaderLogoImage" src="/static/images/logo/fire.png"/>
	</div>
	<div id="mainHeaderLinkDiv">
		{% if request.cookies["USERNAME"] is defined %}
		<a class="mainHeaderLink" href="/logout/">Logout "{{ decryptString(request.cookies.get("USERNAME")) }}"</a>
		{% else %}
		<a class="mainHeaderLink" href="/login/">Login</a>
		<a class= "mainHeaderLink" href="/register/">Register</a>
		{% endif %}
	</div>
</div>
<!--END HEADER TEMPLATE-->
