<!-- begin header template -->
<style>
#mainHeader{
	box-shadow: 10px 10px #D3D3D3;
	position:sticky;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	top:0;
	min-height:5%;
	min-width:80%
	padding-top: 10px;
	padding-bottom:20px;

	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;

	background:linear-gradient(0deg, #FF6F00 5%, rgba(255,173,0,1) 90%);
	display:flex;
	justify-content:center;

}
#mainHeaderLinkDiv{
	display:flex;
	align-items:center;
	justify-items:center;
	flex-direction:row;
	max-width:10%;
	margin: auto;
}
.mainHeaderLink{
	align-self:center;
	padding: 10px;
}
/* desktop screens */
@media screen and (orientation: landscape) and (min-width: 1000px){
	.mainHeaderLink {
		margin-left: 10%;
		margin-right: 10%;
	}
}
/* vertical mobile screens */
@media screen and (orientation:portrait ){
	#mainHeaderLinkDiv {
		flex-direction: column;
		margin-left:5%;
	}
}
#mainHeaderLogoImage{
	/*height:100%*/
	margin-top:1%;
	max-height:100px;
}
@media screen and (orientation: landscape) and (min-width: 1000px){
	#mainHeaderLogoImage {
		margin-right: 100px;
	}
}
#mainHeaderLogoTitle{
	font-family:monospace;
	font-size:30px;
	padding:0;
	border-bottom:#000000 dashed 3px;
	text-decoration:none;
	align-self:center;
	margin-bottom:10px;
	font-weight:bold
}
#mainHeaderLogoSub{
	font-family:monospace;
	font-size:20px;
	margin:0;
	padding:0
}
#mainHeaderLogo{
	display:flex;
	align-items:left;
	align-self: left;
	flex-direction:column;
	margin-right:20px
}
#mainHeaderLogoWrapper {
	display:flex;
	flex-direction: row;
	margin-right:auto;
	margin-left: 7vw;
}
.clickToHome{
	cursor:pointer
}</style>

<div id="mainHeader">
	<!--<img alt="banner for the site" id="mainHeaderImg" src="/static/images/banner.webp" onclick="window.location = '/'"/>-->
	<div id="mainHeaderLogoWrapper">
		<div id="mainHeaderLogo" class="clickToHome">
			<h2 id="mainHeaderLogoTitle">Digital Nook</h2>
			<p id="mainHeaderLogoSub">Australian game servers</p>
		</div>
		<img alt="logo fire image" id="mainHeaderLogoImage" src="/static/images/logo/fire.png" class="clickToHome"/>
	</div>
	<div id="mainHeaderLinkDiv">
		{% if request.cookies["USERNAME"] is defined %}
		<a class="mainHeaderLink" href="/logout/">Logout "{{ decryptString(request.cookies.get("USERNAME")) }}"</a>
		{% else %}
		<a class="mainHeaderLink" href="/login/">Login</a>
		<a class= "mainHeaderLink" href="/register/">Register</a>
		{% endif %}
	</div>
</div>
<script>
	(function () {
		const toHome = document.getElementsByClassName("clickToHome");
		for (let i = 0; i < toHome.length; i++){
			toHome[i].setAttribute("onclick", "window.location = '/'");
		}
	})()
</script>
<!-- end header template -->
