<!DOCTYPE html>
<html lang="en">
<head>
	<title>Continue Game</title>
	{% include "/includes/meta.html" %}

</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Continue a game as {{ currentUser }}</h1>
</header>
<main>
	<div>
		<div class="splitList" id="sentGames">
			<p><b>DRAWINGS SENT</b></p>

		</div>
		<div class="splitListBottom" id="receivedGames">
			<p><b>DRAWINGS RECEIVED</b></p>
		</div>
	</div>
	<a style="margin-top: 35px" href="/games/drawsomething">Back to Home</a>
</main>
<form action="/games/drawsomething/" id="getReceivedDrawings" method="POST" style="display:none;">

	<input id="gameIdReceived" name="gameId" type="text" value="">
	<input name="ACTIONrequestForGuessingDrawing" type="text" value="true">
	<input type="submit">

</form>
<form action="/games/drawsomething/" id="getSentDrawings" method="POST" style="display:none;">

	<input id="gameIdSent" name="gameId" type="text" value="">
	<input name="ACTIONrequestForViewingGame" type="text" value="true">
	<input type="submit">

</form>
<script>
	// games user has received from others
	let receivedGames = {{ received | tojson }};

	let currentUser = {{ currentUser | tojson }};

	const receivedGamesDiv = document.getElementById("receivedGames");
	if (receivedGames.length > 0) {
		// For every game the user has received a button is created to allow access to that game
		for (let i = 0; i < receivedGames.length; i++) {
			let current = receivedGames[i];

			let userNames = current.split("_"); // string is in format "sentUser_receivingUser"

			const fromUser = userNames[0];
			const newButton = document.createElement("BUTTON");
			newButton.setAttribute("class", "greenButton");
			newButton.setAttribute("onclick", `getReceivedDrawing('${current}')`);
			newButton.innerHTML = `${fromUser} sent you a drawing!`;

			receivedGamesDiv.appendChild(newButton);
			receivedGamesDiv.appendChild(document.createElement("BR"));
		}
	} else {
		console.log("HERE");
		const noGamesMessage = `Sorry ${currentUser}, you have not been sent any drawings`;
		const newP = document.createElement("P");
		newP.innerHTML = noGamesMessage;

		receivedGamesDiv.appendChild(newP);
	}

	function getReceivedDrawing(gameId) {
		const gameIdForm = document.getElementById("gameIdReceived");
		gameIdForm.value = gameId;

		document.getElementById("getReceivedDrawings").submit();
	}

	const sentGamesDiv = document.getElementById("sentGames");
	let sentGames =  {{ sent | tojson }}; // games user has sent to others

	if (sentGames.length > 0){
		console.log("here2");
		for (let i = 0; i < sentGames.length; i++) {
			let current = sentGames[i];

			let userNames = current[0].split("_"); // string is in format "sentUser_receivingUser"
			let gameState = current[2]; // string describing result of game

			const toUser = userNames[1];
			const newButton = document.createElement("BUTTON");
			newButton.setAttribute("class", "greenButton");
			newButton.setAttribute("onclick", `getSentDrawing('${current[0]}')`);
			newButton.innerHTML = `${toUser} ${gameState}`;

			sentGamesDiv.appendChild(newButton);
			sentGamesDiv.appendChild(document.createElement("BR"));
		}

	}

	else {
		const noGamesMessage = "Sorry {{ currentUser }}, you have not sent any drawings";
		const newP = document.createElement("P");

		newP.innerHTML = noGamesMessage;

		sentGamesDiv.appendChild(newP);

	}

	function getSentDrawing(gameId) {
		const gameIdForm = document.getElementById("gameIdSent");
		gameIdForm.value = gameId;

		document.getElementById("getSentDrawings").submit();
	}
</script>
</body>
</html>