<!-- This is the main page that let's the user choose whether to start a new game or continue their old game -->
<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Draw Something | DigitalNook</title>
	{% include "/includes/meta.html" %}

</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Draw Something</h1>

</header>
<br/>
<main>
	<form action="/games/drawsomething/" method="POST">
		<input class="greenButtona" name="ACTIONnewGame" type="submit" value="New game"/>
		<br/><br/>
		<input class="greenButtona" name="ACTIONcontinueGame" type="submit" value="Continue game"/>
	</form>

	<p id="error" style="font-style: italic;">{{ error }}</p> <!-- if there is a game breaking error user will be booted here and error message will appear in this <p> -->
</main>
<footer>
	<a href="/games/" style="margin-bottom: 5%;">Back to Games</a>
</footer>
</body>
</html>