<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Game | DigitalNook</title>

	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Start a new Draw Something game</h1>
	<br/><br/>
	<p><i>Remember usernames are case sensitive!</i></p>
</header>
<form action="/games/drawsomething/" method="POST" style="text-align: center">
	<fieldset style="border: dashed black 2px">
		<p>You are logged in as {{ currentUser }}</p>
		<p>Which user would you like to start a game with?</p>
		<input name="newGameRequestUsername" placeholder="username" type="text" style="margin-bottom: 40px"/>
		<input style="width: auto;" class="greenButton" name="ACTIONnewGameRequest" type="submit" value="Request New Game"/>
	</fieldset>
</form>
<p><b>{{ error }}</b></p>
<br/>
<a href="/games/drawsomething/">Back to Home</a>
</body>
</html>