.splitList {
	padding: 30px;
	border-top: 2px black dashed;
}

.splitListBottom {
	padding: 30px;
	border-top: 2px black dashed;
	border-bottom: 2px black dashed;
}

.splitList > a, .splitListBottom > a {
	display: block;
}

h1 {
	color: black;
	font-size: 50px;
	font-family: impact, serif;
	text-align: center;
	font-weight: bold;
}

h2, .resultsHeader {
	color: black;
	font-size: 35px;
	font-family: impact, serif;
	text-align: center;
	font-weight: normal;
	text-decoration: underline;
}

a, .link {
	color: #0066ff;
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	display: inline-block;

}

body {
	/* border: 20px orange groove;*/ /* RIP TO THE OG BORDER */
	min-height: 100vh;
	text-align: center;
	background-color: #F6F9FC;
	margin: 0 0 2%;
	font-size: 30px; /* Default font-size for all elements*/
}
.blueP {
	color: blue;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

p {
	color: black;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

.italics {
	font-style: italic;
}

.centeredvid {
	position: fixed;
	margin: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.rps {
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

.buttons {
	text-align: center;
}

/*.paperButton, .rockButton, .scissorsButton {
	position: absolute;
	top: 50%;
}*/
.centerImage {
	float: none;
	margin: 10px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
}

.rightImage {
	float: right;
	width: 200px;
	height: auto;
}

.leftImage {
	float: left;
	width: 200px;
	height: auto;
}

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
	width: 200px;
	height: auto;
}

.centerBigImage {
	float: none;
	margin: 10px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: none;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 500px;
	border: 20px orange groove;
}

.popup {
	position: fixed;

	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.reactionButton {
	position: relative;
	display: none;

}

#startButton {
	background-color: #5cbf2a;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 1px solid #18ab29;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial, serif;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
}

#startButton:hover {
	background-color: #44c767;
}

#startButton:active {
	position: relative;
	top: 1px;
}

.centerButton {
	position: relative;
	top: 50%;
	left: 32.5%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.leftButton {
	position: relative;
	float: left;
	visibility: hidden;
}

.rightButton {
	position: relative;
	float: right;
	visibility: hidden;
}

.greenButton {
	background-color: #5cbf2a;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial, serif;
	padding: 16px 31px;
	margin: 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
	text-align: center;
	font-weight: bold;
}

.greenButton:hover {
	background-color: #44c767

}

#results {
	display: block;
}

.bottomCenter {
	margin-right: 70%;
	float: left;
}

/* HEADER STYLES */
#mainHeader{
	box-shadow: 10px 10px #D3D3D3;
	position:sticky;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	top:0;
	max-height: 5%;
	max-width: 90%;
	padding: 1vh 2vw;

	margin: 0 auto;
	align-items: center;

	background:linear-gradient(0deg, #FF6F00 5%, rgba(255,173,0,1) 90%);
	display:flex;
	justify-content: space-between;

}
#mainHeaderLinkDiv{
	display:flex;
	align-content:center;
	justify-content:flex-end;
	flex-direction:row;

	width: 30%;
}
.mainHeaderLink{
	padding: 10px;
}
#mainHeaderLogoImage{
	object-fit: contain;
	height: 100px;
	width: 100px;
}

#mainHeaderLogoTitle{
	font-family:monospace;
	padding: 5px;
	margin: 0 auto;
	border-bottom:#000000 dashed 3px;
	text-decoration:none;
	font-weight:bold;

	max-width: 100%;
}
#mainHeaderLogoSub{
	font-family:monospace;
	font-size:20px;
	margin: 0;
	padding: 4px;
}
#mainHeaderLogo{
	display:flex;
	flex-direction:column;
	align-content: flex-start;
	width:30%;
}
/* Mobile screens */
@media only screen and (hover: none) and (pointer: coarse) {
	.mainHeaderLink {
		font-size: 12px;
	}
	#mainHeaderLogoTitle {
		font-size: 15px;
		border-bottom: none;
	}
	#mainHeaderLogoSub{
		display: none;
	}
	#mainHeaderLogoImage {
		height: 40px;
		width: 40px;
	}
}
/* END HEADER STYLES*/

.clickToHome{
	cursor:pointer
}

input, textarea, select, button {
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
}

#flexForm {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: flex-start;
}
.formListOuter {
	margin:10px auto;
	padding:0 10px;
}

.formListOuter li {
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	justify-content: flex-start;
}

.formListOuter label {
	padding: 5px;
	border: 2px solid #000;
	border-radius: 5px;
	background: #FF6F00;
	width: 38%;
	margin-bottom: 10px;
	margin-right: 2%;
	font-size: 20px;
}

.formListOuter input {
	width: 60%;
}

.formListOuter input[type="checkbox"] {
	width: auto;
}

form button {
	border: none;
	background: #333;
	color: #fff;
	border-radius: 5px;
	margin: 0 auto;
}

footer {
	margin-top: 5%;
}

/* Media Queries */
/* Mobile devices */
@media only screen and (hover: none) and (pointer: coarse) {
	body {
		font-size: 20px;
	}

	label, button, textarea, input {
		font-size: 15px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 20px;
	}

}
