html {
	font-size: 30px; /* Default font-size for all elements*/
}
.splitList {
	padding: 30px 0;
	border-top: 2px black dashed;
}

.splitListBottom {
	padding: 30px 0;
	border-top: 2px black dashed;
	border-bottom: 2px black dashed;
}

.splitList > a, .splitListBottom > a {
	display: block;
}

h1 {
	color: black;
	font-size: 1.66rem;
	font-family: impact, serif;
	text-align: center;
	font-weight: bold;
}

h2, .resultsHeader {
	color: black;
	font-size: 1.2rem;
	font-family: impact, serif;
	text-align: center;
	font-weight: normal;
	text-decoration: underline;
}

a {
	color: #0066ff;
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	display: inline-block;
}

body {
	/* border: 20px orange groove;*/ /* RIP TO THE OG BORDER */
	min-height: 100vh;
	text-align: center;
	background-color: #F6F9FC;
	margin: 0 0 2%;
}
.blueP {
	color: blue;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

p {
	color: black;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

.italics {
	font-style: italic;
}

.popup {
	position: fixed;
	width: 100vw;
	height:auto;
	display: none;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.greenButton {
	background-color: #5cbf2a;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 16px 31px;
	margin: 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
	text-align: center;
	font-weight: bold;
}

.greenButton:hover {
	background-color: #44c767

}

/* HEADER STYLES */
#mainHeader{
	display:flex;
	box-shadow: 10px 10px #D3D3D3;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	top:0;
	max-height: 5%;
	max-width: 90%;

	padding-bottom: 1vh;
	padding-top: 4px;

	margin: 0 auto 3vh;

	align-items: center;
	align-content: center;
	justify-content: space-between;

	background:linear-gradient(0deg, #FF6F00 5%, rgba(255,173,0,1) 90%);
}
#mainHeaderLinkDiv{
	display:flex;
	align-content:center;
	align-items: center;
	justify-content:space-around;
	flex-flow: row wrap;
	box-sizing: border-box;
	width: 26%;
	padding-left: 4%;
	padding-right: 4%;
	margin-right: 4%;
}
.mainHeaderLink{
	font-size: 0.9rem;
	/*padding-right: 0.1rem;*/
	padding: 0.3em;
}

#mainHeaderLogoImage{
	object-fit: contain;
	height: 2.5rem;
	width: 2.5rem;
}

#mainHeaderLogoTitle{
	font-family:monospace;
	padding: 5px;
	margin: 0 auto;
	border-bottom:#000000 dashed 3px;
	text-decoration:none;
	font-weight:bold;
	font-size: 0.9rem;

	max-width: 100%;
}
#mainHeaderLogoSub{
	font-family:monospace;
	font-size:0.5rem;
	margin: 0;
	padding: 4px;
}
#mainHeaderLogo{
	display:flex;
	flex-direction:column;
	align-content: flex-start;
	width:30%;
}
/* Mobile screens and small desktop screens*/
@media only screen and (hover: none) and (pointer: coarse), screen and (max-width: 1050px){
	#mainHeaderLogoTitle {
		border-bottom: none;
	}
	#mainHeaderLogoSub{
		display: none;
	}
}
/* END HEADER STYLES*/

.clickToHome {
	cursor:pointer
}

label, input, textarea, select, button {
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	font: 0.66em sans-serif;
}

.flexForm {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: flex-start;
	width: 100vw;
	margin: 0 auto;
}
.formListOuter {
	margin:10px auto;
	padding: 10px;
	width: 70%;
}

.formListOuter li {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 2%;
	box-sizing: border-box;
}

.formListOuter label {
	padding: 10px;
	border: 2px solid #000;
	border-radius: 5px;
	background: #FF6F00;
	width: 45%;
	margin: auto 5% auto 0;
	box-sizing: border-box;
}

.formListOuter input {
	width: 50%;
	height: 90%;
	margin: auto 0;
	box-sizing: border-box;
}

.formListOuter input[type="checkbox"] {
	height: 25px;
	width: 25px;
	cursor: pointer;
	margin-right: auto;
}
.formListOuter input[type="color"] {
	height: 50px;
	padding: 5px;
	background: none;
	-webkit-appearance: none;
	border-radius: 2px;

	border: none;
	cursor: pointer;
}

.flexForm button {
	border: none;
	background: #333;
	color: #fff;
	border-radius: 5px;
	width: 100%;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	cursor: pointer;
	margin: 10px auto 0;
}

footer {
	margin: 2% 0;
}

/* Media Queries */
/* Mobile devices */
@media only screen and (hover: none) and (pointer: coarse), screen and (max-width: 650px){
	html {
		font-size: 20px;
	}

	.formListOuter {
		width: 100%;
	}

}
