.splitList {
	padding: 20px;
	border-top: 2px black dashed;
}

.splitListBottom {
	padding: 20px;
	border-top: 2px black dashed;
	border-bottom: 2px black dashed;
}

.splitList > a, .splitListBottom > a {
	display: block;
}

h1 {
	color: black;
	font-size: 50px;
	font-family: impact, serif;
	text-align: center;
	font-weight: bold;
}

h2, .resultsHeader {
	color: black;
	font-size: 35px;
	font-family: impact, serif;
	text-align: center;
	font-weight: normal;
	text-decoration: underline;
}

a, .link {
	color: #0066ff;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	display: inline-block;

}

body {
	/* border: 20px orange groove;*/ /* RIP TO THE OG BORDER */
	min-height: 100vh;
	text-align: center;
	background-color: #F6F9FC;
	margin: 0 0; /*no margins */
	margin-bottom:2%; /* Except for bottom of page */
}
.blueP {
	color: blue;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

p {
	color: black;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

.italics {
	font-style: italic;
}

.centeredvid {
	position: fixed;
	margin: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.rps {
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

.buttons {
	text-align: center;
}

/*.paperButton, .rockButton, .scissorsButton {
	position: absolute;
	top: 50%;
}*/
.centerImage {
	float: none;
	margin: 10px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
}

.rightImage {
	float: right;
	width: 200px;
	height: auto;
}

.leftImage {
	float: left;
	width: 200px;
	height: auto;
}

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
	width: 200px;
	height: auto;
}

.centerBigImage {
	float: none;
	margin: 10px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: none;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 500px;
	border: 20px orange groove;
}

.popup {
	position: fixed;

	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.reactionButton {
	position: relative;
	display: none;

}

#startButton {
	background-color: #5cbf2a;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 1px solid #18ab29;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial, serif;
	font-size: 23px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
}

#startButton:hover {
	background-color: #44c767;
}

#startButton:active {
	position: relative;
	top: 1px;
}

.centerButton {
	position: relative;
	top: 50%;
	left: 32.5%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.leftButton {
	position: relative;
	float: left;
	visibility: hidden;
}

.rightButton {
	position: relative;
	float: right;
	visibility: hidden;
}

.greenButton {
	background-color: #5cbf2a;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial, serif;
	font-size: 30px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
	margin: 10px 40%;
	text-align: center;
	font-weight: bold;
}

.greenButton:hover {
	background-color: #44c767

}

#results {
	display: block;
}

.bottomCenter {
	margin-right: 70%;
	float: left;
}

/* HEADER STYLES */
#mainHeader{
	box-shadow: 10px 10px #D3D3D3;
	position:sticky;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	top:0;
	min-height:5%;
	min-width:80%;
	padding-top: 10px;
	padding-bottom:20px;

	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;

	background:linear-gradient(0deg, #FF6F00 5%, rgba(255,173,0,1) 90%);
	display:flex;
	justify-content:center;

}
#mainHeaderLinkDiv{
	display:flex;
	align-items:center;
	justify-items:center;
	flex-direction:row;
	max-width:10%;
	margin: auto;
}
.mainHeaderLink{
	align-self:center;
	padding: 10px;
}
/* desktop screens */
@media screen and (orientation: landscape) and (min-width: 1000px){
	.mainHeaderLink {
		margin-left: 10%;
		margin-right: 10%;
	}
}
/* vertical mobile screens */
@media screen and (orientation:portrait ){
	#mainHeaderLinkDiv {
		flex-direction: column;
		margin-left:5%;
	}
}
#mainHeaderLogoImage{
	/*height:100%*/
	margin-top:1%;
	max-height:100px;
}
@media screen and (orientation: landscape) and (min-width: 1000px){
	#mainHeaderLogoImage {
		margin-right: 100px;
	}
}
#mainHeaderLogoTitle{
	font-family:monospace;
	font-size:30px;
	padding:0;
	border-bottom:#000000 dashed 3px;
	text-decoration:none;
	align-self:center;
	margin-bottom:10px;
	font-weight:bold
}
#mainHeaderLogoSub{
	font-family:monospace;
	font-size:20px;
	margin:0;
	padding:0
}
#mainHeaderLogo{
	display:flex;
	flex-direction:column;
	margin-right:20px
}
#mainHeaderLogoWrapper {
	display:flex;
	flex-direction: row;
	margin-right:auto;
	margin-left: 7vw;
}
/* END HEADER STYLES*/

.clickToHome{
	cursor:pointer
}

input, textarea, select, button {
	width : 250px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-flow: column wrap;
	align-items: center;

	width: 600px;
	margin: auto;
}

.formListOuter li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.formListOuter > li > label,
.formListOuter li p {
	flex: 1 0 120px;
	max-width: 400px;
	padding: 15px;
	border: 2px solid #000;
	margin-right: 10px;
	background: #FF6F00;
}

.formListOuter > li > label + * {
	flex: 1 0 400px;
}

.formListOuter input {
	padding: 2%;
}

form button {
	margin: auto;
	width: 35%;
	max-width: 100%;
	padding: 8px;
	border: none;
	background: #333;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
}

.formListOuter input {
	max-width: 200px;
}
