<!DOCTYPE html>
<html>
<head>
	<title>About the site</title>
	<link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/icon"/>
</head>
<body>
	<header>
		<h1>About</h1>
	</header>
	<br/>
	<section class="body">
		<p>This is a very simple website that I am using to advance my skills with javascript</p>
		<br/>
		<p style="font-weight:bold;">Contact Me:</p> 
		<br/> 
		<p>
		Email: <a href="mailto:tom.digitalnook.net">tom.digitalnook.net</a> <br/>
		github: <a href="github.com/exciteabletom">github.com/exciteabletom</a>
		</p>
		<br/>
		<br/>
		<p> <a href="/">Back to Home</a> </p>
	</section>
</body>
</html>
