<!DOCTYPE html>
<html>
<head>
	<title>About Digital Nook</title>
	<meta content="Digital Nook hosts Australian game servers and web games" name="description"/>
	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<ul class="mainNav">
	<li>
		<h1>About Digital Nook</h1>
	</li>
	<li class="wrap">
		<p>Digital Nook hosts Australian game servers.</p>
		<p>This site is pretty useless and is mostly just for me to learn about web development.</p>
	</li>
	<li class="wrap">
		<p style="font-weight:bold;">Contact Me:</p>
	</li>
	<li class="column">
		<p>
			Email: <a href="mailto:admin@digitalnook.net">admin@digitalnook.net</a>
		</p>
		<p>
			GitHub: <a href="https://github.com/exciteabletom" target="_blank">github/exciteabletom</a>
		</p>
	</li>
</ul>
<footer>
	<a href="/">Back to Home</a>
</footer>
</body>
</html>
