<!DOCTYPE html>
<html>
<head>
	<title>About the site</title>
	<meta name="description" content="digitalnook.net"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/icon"/>
	<meta name="robots" content="noindex,nofollow" /> <!--TODO: How does this differ from robots.txt definitions? -->
</head>
<body>
	<header>
		<h1>About</h1>
	</header>
	<section class="body">
		<p>This is a very simple website that I am using to advance my skills with JavaScript.</p>
		<p style="font-weight:bold;">Contact Me:</p>
		<p>
		Email: <a href="mailto:admin@digitalnook.net">admin@digitalnook.net</a> <br/>
		GitHub: <a href="https://github.com/exciteabletom" target="_blank">github.com/exciteabletom</a>
		</p>
		<br/>
		<br/>
		<p> <a href="/">Back to Home</a> </p>
	</section>
</body>
</html>
