<!DOCTYPE html>
<html lang="en">
<head>
	<title>Space Adventure | digitalnook</title>
	{% include "/includes/meta.html" %}

	<script src="/static/js/phaser.min.js"></script>
	<script src="/static/js/spaceAdventure/Index.js" type="module"></script>
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<main>
	<div id="game"></div>
</main>
<br/><br/>
<footer>
	<p class="italics">Music from <a href="https://patrickdearteaga.com">Patrick de Arteaga</a></p>
	<a href="/">Back to Home</a>
</footer>
</body>
</html>