<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>
    <title>Username or password is incorrect | DigitalNook</title>

    <link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
</head>

<body>
<header>
    <h1> There was an error when interpreting your username.<br/>  </h1>
</header>
<main>
    <p class="italicsP">The username or password is incorrect, please try again.<br/>
        <br/> Is this message in error? If so, please contact me at my <a style="display: inline;" href="mailto:admin@digitalnook.net">email</a>
    </p>
</main>
<footer>
    <a href="/login/">Back to login</a>
</footer>
</body>
</html>
