<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Username or password is incorrect | DigitalNook</title>

	{% include "/includes/meta.html" %}
</head>

<body>
<header>
	<h1> There was an error when interpreting your username.<br/></h1>
</header>
<main>
	<p class="italics">The username or password is incorrect, please try again.<br/>
		<br/> Is this message in error? If so, please contact me at my <a href="mailto:admin@digitalnook.net"
		                                                                  style="display: inline;">email</a>
	</p>
</main>
<footer>
	<a href="/login/">Back to login</a>
</footer>
</body>
</html>
