<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>
    <title>Username already in use | DigitalNook</title>

    <link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
</head>

<body>
<header>
    <h1> There was an error when interpreting your username.<br/>  </h1>
</header>
<main>
    <p class="italicsP">Sorry, this username is already in use.</p>
</main>
<footer>
    <a href="/register/">Back to register</a>
</footer>
</body>
</html>