<!DOCTYPE html>
<!-- Bomb Defusal by Tommy Dougiamas -->
<html lang=en>
	<head>
		<title>Bomb Defusal!</title>
		<link href='/static/styles1.css' type='text/css' rel='stylesheet'/>
		<link href='/static/favicon.ico' rel='shortcut icon' type='image/x-icon'/>
	</head>
	<body>
		<div class='headerSection'>
			<section id='mainHeader' class='headerSection'>
				<h1>Defuse the Bomb!</h1>
			</section>
		</div>
		<div class='game'>
			<section class='tutorial'>	
				<p class='italicsP'>This is place holder text for the tutorial</p>
			</section>
			<section class='gameBody'>
				<p class='italicsP'>This is place holder text for the game</p>
						
			</section>
			<section class='results'>	
				<p class='italicsP'>This is place holder text for the results</p>
				<p id=jsText>This is placeholder text for the JavaScript editing</p>
			</section>
			
		</div>
	<script>
	document.getElementById('jsText').innerHTML = 'JavaScript editing is functioning'	
	</script>
	<noscript> Your Browser Does Not Support JavaScript... </noscript>	
	</body>
</html>
