<!DOCTYPE html>
<html lang=en>
<head>
	<title>Bruh</title>
	<meta name="description" content="Checkout bruh sound effect #2 at digitalnook.net!"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/static/styles1.css" type="text/css" rel="stylesheet"/>
	<link href="/static/favicon.ico" rel="shortcut icon"/>
</head>

<body>
	<h1>
		<a href="https://www.youtube.com/watch?v=2ZIpFytCSVc?rel=0"><h1 style="color: blue;">bruh</h1></a> sound effect
	</h1>
	<div class='centeredvid'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/2ZIpFytCSVc" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
		<a href="/"><br/>Back to home</a>

	</div>
	<br/><br/><br/>
	<br/><br/><br/>
	<br/><br/><br/>
	<br/><br/><br/>
</body>
</html>
