<!DOCTYPE html>
<html lang=en>
	<head>
		<link href="static/styles1.css" type="text/css" rel="stylesheet"/>
		<link href="static/favicon.ico" rel="shortcut icon"/>
		<title>Bruh</title>
	</head>
	
	<body>
		<h1>
			<a href="https://www.youtube.com/watch?v=2ZIpFytCSVc"><h1 style="color: blue;">bruh</h1></a> sound effect
		</h1>
		<div class='centeredvid'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/2ZIpFytCSVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<a href="/"><br/>Back to home</a>
		</div>
</body>
</html>
