<!DOCTYPE html>
<html lang=en>
<head>
	<title>Bruh</title>
	<meta content="Bruh | digitalnook.net!" name="description"/>
	{% include "/includes/meta.html" %}
</head>

<body>
<h1>
	<a href="https://www.youtube.com/watch?v=2ZIpFytCSVc?rel=0"><h1 style="color: blue;">bruh</h1></a> sound effect
</h1>
<div class='centeredvid'>
	<iframe allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" height="315" src="https://www.youtube-nocookie.com/embed/2ZIpFytCSVc"
	        width="560"></iframe>
	<br/><br/><br/>
	<a href="/">Back to home</a>

</div>
</body>
</html>
