<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ imgName }} | Digital Nook</title>
	{% include "/includes/meta.html"%}
	<style>
		body {
			background: #FFF;
			height: 100vh;
		}
		img {
			width: 80vw;
			height: auto;
		}
		a {
			width: 100vw;
			height:100vh;
		}

	</style>
</head>
<body>
	<p>Click on the image to download.</p>

	<a download="{{ imgName }}" href="{{ imgData }}" style="margin-left: auto; margin-top: auto;"> 
		<img src="{{ imgData }}"  alt="{{ imgName }}"/>
	</a>
</body>
</html>
