<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doctor 🅱 | DigitalNook</title>
	{% include "/includes/meta.html" %}

	<script src="/static/js/lib/phaser.min.js"></script>
	<script src="/static/js/spaceAdventure/Index.js" type="module"></script>
	<style>
		canvas {
			border: solid #ff6f00 3px;
			height: 100%;
		} #game {
			display:inline-block;
			max-width:95%
		} #pretext {
			max-width: 65%;
			text-align:center;
			margin-right: 17.5%;
			margin-left: 17.5%
		}
	</style>
</head>
<body>
{% include "/includes/cdn_licenses.html" %}
<header>
	{% include "/includes/header.html" %}
	<h1>Doctor 🅱️</h1>
</header>
<main>
	<div id="game"></div>
	<br/>
	<div id="pretext">
		<p>Defeat the aliens protecting the evil Doctor 🅱️!<br/>Use WASD to move and F/SPACE to fire.</p>
	</div>
</main>
<br/><br/>
<footer>
	<p>Music from <a href="https://patrickdearteaga.com">Patrick de Arteaga</a></p>
	<a href="/games/">Back to Games</a>
	<br/> <br/><br/>
</footer>
</body>
<script>
	highScore = parseInt("{{ score }}");
	username = "{{ username }}";
</script>
<script src="/static/js/phaserResize.js"></script>
</html>
