<!DOCTYPE html>
<html lang="en">
<head>
	<title>Games | Digital Nook</title>
	<meta content="Play fun games at digitalnook.net!" name="description"/>

	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<div class='title'>
	<h1>Games</h1>
</div>
<div class="list">
	<div class="splitList" id="doctorB">
		<a href="/games/doctorb/">Doctor 🅱</a>
	</div>
	<div class="splitList" id="drawSomething">
		<a href="/games/drawsomething/">Draw Something</a>
	</div>
	<div class="splitList" id="tennis">
		<a href="/games/tennis/">Tennis</a>
	</div>

	<div class="splitList" id="reaction">
		<a href="/games/reaction/">Reaction Test!</a>
		<a href="/games/reactionleaderboard/">Reaction Test Leaderboard</a>
	</div>


	<div class="splitListBottom" id="rockPaperScissors">
		<a href="/games/rps/">Rock, Paper, Scissors</a>
	</div>

	<footer>
		<a href="/">Back To Home</a>
	</footer>
</div>
</body>
</html>
