<!DOCTYPE html>
<html>
	<head>
		<link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
		<link href="/static/favicon.ico" rel="shortcut icon"/>
		<title>Games | DigitalNook</title>
	</head>
	<body>
		<header>
			<img src="/static/images/banner.jpg" style="margin-left: 20%; margin-right: 20%; width: 60%; height: auto; position: sticky;" alt="banner for the site">
		</header>
		<div class='title'>
			<h1>Games</h1>
		</div>
		<div class="list">
			<div id="reaction" class="splitList">
				 <br/>
				<a href="/games/reaction">Reaction Test!</a>
				 <br/>
				<a href="/games/reactionLeaderboard">Reaction Test Leaderboard</a>
				 <br/>
			</div>
			<div id="rockPaperScissors" class="splitListBottom">
				<br/>
				<a href="/games/rps">Rock, Paper, Scissors</a>
				 <br/>
			</div>
			
			<footer style="padding: 20px;">	
				<p class=italicsP> More games coming soon!</p>
				 <br/>
				 <br/>
				<a href="/">Back To Home</a>
			</footer>
		</div>
	</body>
</html>
