<!DOCTYPE html>
<html lang="en">
<head>
	<title>Games | Digital Nook</title>
	<meta content="Play fun games at digitalnook.net!" name="description"/>

	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Games</h1>
</header>
<main>
	<ul class="mainNav">
		<li>
			<i class="fas fa-rocket"></i>
			<a href="/games/doctorb/">Doctor 🅱</a>
		</li>
		<li>
			<i class="fas fa-pencil-alt"></i>
			<a href="/games/drawsomething/">Draw Something</a>
		</li>
		<li>
			<i class="fas fa-table-tennis"></i>
			<a href="/games/tennis/">Tennis</a>
		</li>
		<li class="column">
			<div>
				<i class="fas fa-tachometer-alt"></i>
				<a href="/games/reaction/">Reaction Test!</a>
			</div>
			<div>
				<i class="fas fa-th-list"></i>
				<a href="/games/reactionleaderboard/">Reaction Test Leaderboard</a>
			</div>
		</li>
		<li>
			<i class="fas fa-hand-scissors"></i>
			<a href="/games/rps/">Rock, Paper, Scissors</a>
		</li>
	</ul>
</main>
<footer>
	<a href="/">Back To Home</a>
</footer>
</body>
</html>
