<!DOCTYPE html>
<html lang="en">
<head>
	<title>Australian game servers | Digital Nook</title>
	<meta name="description" content="Digital Nook hosts Australian game servers and web games."/>

	{% include "/includes/meta.html" %}

	<!-- Search Engine verifications -->
	<meta content="aAxV7CD2x3_3KRYWCenoBhtaZT214wjn_WO776HdVRE" name="google-site-verification"/>
	<meta content="5f4281093782ec51" name="yandex-verification"/>

	<style>
		a {
			display: block;
			padding: 1.1em;
		}
	</style>
</head>
<body>
<header>
	{% include "includes/header.html" %}
</header>
<main>
	<a href="//forums.digitalnook.net">Forums</a>

	<a href="/servers/">Server List</a>

	<a href="/quote2image/">quote2image</a>

	<a href="/youtubeDownloader/">YouTube Downloader</a>

	<a href="/games/">Web Games</a>

	<a href="/about/">About the Site</a>

</main>
<footer>
	<p class='italics' style="margin-top: 5vh;">Created by Tommy Dougiamas</p>
</footer>
</body>
</html>
