<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Digital Nook</title>
	<meta name="description" content="digitalnook.net"/>

	{% include "/includes/meta.html" %}

	<!-- SE verifications -->
	<meta content="aAxV7CD2x3_3KRYWCenoBhtaZT214wjn_WO776HdVRE" name="google-site-verification"/>
	<meta content="5f4281093782ec51" name="yandex-verification"/>

	<script>
		// if browser is mobile warn user
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
			alert(`${location.hostname} doesn't function properly on mobile devices`);
		}
	</script>
</head>
<body>
<header>
	{% include "includes/header.html" %}
</header>
<main>
	<div>
		<p><a href="/games/">Games!</a></p>
	</div>
	<div>
		<p><a href="/bruh/">B R U H</a></p>
	</div>
	<div>
		<p><a href="/about/">About the Site</a></p>
	</div>
	<div>
		<p><a href="/whatsnew/">What's New?</a></p>
	</div>
</main>
<footer>
	<p class='italicsP' style="margin-top: 5vh;">Created by Tommy Dougiamas</p>
</footer>
</body>
</html>
