<!DOCTYPE html>
<html>
<head>
	<link href='static/styles1.css' rel="stylesheet" type="text/css">
	<link href='static/favicon.ico' rel='shortcut icon'/>
	<meta name="google-site-verification" content="aAxV7CD2x3_3KRYWCenoBhtaZT214wjn_WO776HdVRE" />
</head>
<body>
	<section>
		<h1>Welcome to DigitalNook.net!</h1>
		<div>
			<p> <a href="/bruh">B R U H</a> </p>
		</div>
		<div>
			<p><a href="/pie">Pie?</a></p>
		</div>
		<div>
			<p><a href="/games">Games!</a> </p>
		</div>
	</section>
	<footer>
		<br/>
		<br/>
		<br/>
		<p class='italicsP'>Created by Tommy Dougiamas</p>
	</footer>
</body>

</html>
