<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Interrogation | DigitalNook</title>
	<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.min.js"></script>
	<script src="/static/js/workingTitle/Index.js" type="module"></script>
	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>game in development</h1>
</header>
<main>
	<div id="game"></div>
</main>
<footer>
	<a href="/games/">Back to Home</a>
</footer>
</body>
</html>
