<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>
    <title>Login | DigitalNook</title>
    <meta name="description" content="Login to your account at DigitalNook.net"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/static/styles1.css" type="text/css" rel="stylesheet"/>
    <link href="/static/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<header>
    <h1>Login to Digitalnook</h1>
</header>
<main>
    <div id="loginForm">
        <form action="/login/" method="post" style="margin-left: 20%; margin-right: 20%; width: 60%; text-align: center">
            Username:<br/> <br/>
            <input type="text" name="username" placeholder="Enter your username here" /><br/> <br/>
            Password:<br/> <br/>
            <input type="text" name="password" placeholder="Enter your password here" /><br/> <br/>
            <input class="greenButton" type='submit' value='Submit'>
        </form>
    </div>
</main>
<footer>
    <a href="/games/">Back to Games</a>
</footer>
</body>
</html>