<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Login | DigitalNook</title>
	<meta content="Login to your account at DigitalNook.net" name="description"/>

	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Login to Digitalnook</h1>
</header>
<main>
	<div id="loginForm">
		<form action="/login/" method="post" class="flexForm">
			<ul class="flexFormInner">
				<li>
					<label for="username">Username</label>
					<input id="username" name="username" type="text"/>
				</li>
				<li>
					<label for="password">Password</label>
					<input id="password" name="password" type="password"/>
				</li>
				<li>
					<button type='submit'>Login</button>
				</li>
			</ul>
		</form>
	</div>
	<p style="font-style: italic;">{{error}}</p>
</main>
<footer>
	<p>
		<a href="/register/">Not a Member?</a>
	</p>
	<p>
		<a href="/">Back to Home</a>
	</p>
</footer>
</body>
</html>