<!DOCTYPE html>
<html lang=en>
	<head>
		<link href="static/styles1.css" rel="stylesheet" type="text/css"/>
	  	<link href="static/favicon.ico" rel="shortcut icon"/>	
	
	</head>
	<body>
		<section>
			<h1>MMMMM delicious</h1>
		</section>
		<div class="img">
			<img class=centerBigImage src="http://i.ytimg.com/vi/3AQS0qu2pgE/maxresdefault.jpg" alt="Dammit the pie image isnt loading! Please contact Tommy at tom@dougiamas.com"/>
		</div>
		<section>
			<p><a href="/">Back to Home</a></p>
		</section>
	</body>
</html>
