<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>quote2image | Digital Nook</title>
	{% include "includes/meta.html" %}
	<style>
		label, input {
			margin-bottom: 1%;
		}
	</style>
</head>
<body>
<header>
	{% include "includes/header.html" %}
	<h1>quote2image</h1>
	<p class="italics">Generate inspirational quote images</p>
</header>
<main style="margin-bottom: 2%">
	<div style="text-align: center;">
		<form action="/quote2image/generate/" method="get">
			<ul class="formListOuter">
				<li>
					<label for="shadowCheck">Add shadow to text</label>
					<input id="shadowCheck" name="shadow" type="checkbox">
				</li>
				<li>
					<label for="elementCount">Amount of background elements</label>
					<input id="elementCount" name="elements" type="number" min="0" max="7" value="2" placeholder="number">
				</li>

				<li>
					<label for="quote">Quote for image</label>
					<input id="quote" name="quote" type="text" maxlength="100">
				</li>

			</ul>
			<button type="submit">Generate Image</button>
		</form>
	</div>
</main>
<footer>
	<a href="/">Back to Home</a>
</footer>
</body>
</html>
