<!DOCTYPE html>
<html>
<!-- leaderboard at digitalnook.net by Tommy Dougiamas -->
<head>
	<title>Reaction Leaderboard | DigitalNook</title>
	<meta name="Description" content="See the Leaderboard for the reaction time game at digitalnook.net!" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/static/styles1.css" type="text/css" rel="stylesheet"/>
	<link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
	<!-- jquery for ajax reqs-->
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<!-- jquery library for json to table conversion -->
	<script src="/static/js/jsonToTable.js"></script>
  	<!-- styling for table made by jsonToTable lib -->
	<style>table{width: 80%;margin-left: 10%;margin-right: 10%;border: black 1px solid; border-collapse: collapse;}
	th, td{font-size: 17px;height: 75px;width: auto;text-align: center;bottom-border: 2px black solid;}
	th {background: red;}
	tr:nth-child(even) {background-color: #f2f2f2;}
	tr:nth-child(odd) {background-color: #FFF;}*/</style>
</head>
<body>
	<h1>Leaderboard for reaction time game</h1> <br/>
	<p>This page displays all the best average times for the reaction time game! <br/><br/> Try to beat your friends!</p>
	<br/>
	<div id="leaderboard"></div>
	<br/><br/>
	<a href="/games">Back to Games</a>
	<br/><br/>
<script>
$.ajax({
	type: "GET",
	url: "/static/reactionLeaderboard.json",
	dataType: "text",
	success: function(json) {
		console.log(json);
		const leaderboard = JSON.parse(json);
		console.log(leaderboard);
		$("#leaderboard").createTable(leaderboard);
	}
})

</script>
<noscript><h1>Your Browser does not support or has disabled Javascript</h1> <br/> <p>Either upgrade your browser or enable javascript to view this page</p> </noscript>
</body>
</html>
