<!DOCTYPE html>
<html lang='en'>
<!-- reaction time game by Tommy Dougiamas
	TODO: LeaderBoard, buttons not centering check doc maybe-->
	<head>
		<title>Test your reactions! | DigitalNook</title>
		<link href="/static/favicon.ico" rel="icon" type="icon/ico"/>
		<link href="/static/styles1.css" rel="stylesheet"/>
		<!-- fits images inside divs -->
		<style>
		.leftButton, .rightButton, .centerButton {margin: 5px;height: 45px; width: 45px;}
		</style>

	</head>
	<body>
		<header>
			<h1>Test your reactions!</h1>
		</header>
		<!-- All buttons for game and start button -->
		<div id='start'>
			<button type="button" id="startButton" style="visibility: visible;" onclick="resetVars(); this.style.visibility = 'hidden'; startGame()">Start</button>
			<p class="italicsP" id="tutorial">3 buttons will appear in the box, click them as fast as you can!</p>
		</div>
		<br/>
		<div id="game" style="height: 200px; width: 20%; margin-left: 40%; margin-right: 40%; border: 5px solid black;">
			<!-- sections the page into three vertical stacks, buttons floated left/right -->
			<div id="top" style="height:33%">
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="topLeft" class="leftButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="topCenter" class="centerButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="topRight" class="rightButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
			</div>
			<div id="middle" style="height:33%;">
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="middleLeft" class="leftButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" style="margin-right: 50px" id="middleRight" class="rightButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="middleCenter" class="centerButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
			</div>
			<div id="bottom" style="height:33%;">
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="bottomCenter" class="centerButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="bottomLeft" class="leftButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
				<input type="image" alt="Button is not loading.." src="/static/images/dot.png" id="bottomRight" class="rightButton" onclick="endTimer(); this.style.visibility = 'hidden'"/>
			</div>
		</div>
		<br/>
		<div id="results" style="position: relative; margin: 0px; height: 100%; width:100%">
				<h2>Results</h2>
				<p id="firstTime"></p>
				<p id="secondTime"></p>
				<p id="thirdTime"></p>
				<br/>
				<p id="finalTime"></p>
				<br/>
				<button type="button" id='submitButton' style="width:30%; margin-left: 35%; margin-left: 35%;" onclick="submitToLeaderboard.style.display = 'block';">Submit score to Leaderboard</button>
		</div>
		<br/>
		<div id="footer" style="margin-top: 20px; position:relative;"> 
			<a href="/games">Back To Games</a>
		</div>
		<br/>
		<form id='submitToLeaderboard' style="position:fixed;top:0;bottom:0;left:0;right:0;fixed; display: none; z-index: 3; text-align: center;">
			<fieldset style="background:white;width:100%;height:100%;">
				<legend>Send score to leaderboards</legend>
				Name: <br/>
				<input type='text' name='Username' value='Enter Username'><br/>
				<input type='text' id='leaderboardScore' name='Score' value='please finish a game before submitting' disabled='true'> <br/>
				<br/>
				<input type='submit' value='Submit'>
			</fieldset>
		</form>
			
	<script>
// Aliases for DOM elements
const game = document.getElementById('game');
const finalTime = document.getElementById('finalTime');
const results = document.getElementById('results');
const firstTime = document.getElementById('firstTime');
const secondTime = document.getElementById('secondTime');
const thirdTime = document.getElementById('thirdTime');
const startButton = document.getElementById('startButton');
const tutorial = document.getElementById('tutorial');
const leaderboardScore = document.getElementById('leaderboardScore');
const submitToLeaderboard = document.getElementById('submitToLeaderboard');
// stores user's reaction time
let reactionTime = 0;
// var for stopping while loop
let count = 0;
// pauses execution in milliseconds
function sleep (ms) {
	return new Promise((resolve) => setTimeout(resolve, ms));
}
// resets variables for new game
function resetVars() {
	firstTime.innerHTML = "";
	secondTime.innerHTML = "";
	thirdTime.innerHTML = "";
	finalTime.innerHTML = "";
	count = 0;
	reactionTime = 0;
	
}
// holds button appearance time and button click time
let startTime, endTime;
function startTimer() {
	startTime = new Date();
	console.log("timer Started");
};
function endTimer() {
	endTime = new Date();
	console.log("reaction time: " + (endTime - startTime));
	reactionTime += endTime - startTime;
	if (count === 1){
		firstTime.innerHTML = endTime - startTime + "ms";
		startGame();
	} else if (count === 2) {
		secondTime.innerHTML =endTime - startTime + "ms";
		startGame();
	} else if (count === 3) {	
		startButton.style.visibility = "visible";
		thirdTime.innerHTML = endTime - startTime + "ms";
		finalTime.innerHTML = `Your average reaction time was ${Math.round(reactionTime/3)}ms or ${((reactionTime/3)/1000).toFixed(2)} seconds!`;
		leaderboardScore.value = Math.round(reactionTime/3);
	}else {
		startGame();
	}
}
function startGame() {// runs when start button is pressed
	tutorial.style.display = "none"
	let randomNum, randomWaitNum; //variables for waiting/randomizing button
	count += 1
	startButton.style.visibility = "hidden"
	randomNum = Math.floor((Math.random() * 9) + 1);
	randomWaitNum = Math.floor((Math.random() * 4000)+1000);
	console.log(`random num is ${randomNum}. random wait num is ${randomWaitNum}`)// for debugging	
	sleep(randomWaitNum).then(() => {
		switch (randomNum) {
			case 1:
				document.getElementById("topLeft").style.visibility = "visible";
				break;
			case 2:
				document.getElementById("topCenter").style.visibility = "visible";
				break;
			case 3:	
				document.getElementById("topRight").style.visibility = "visible";
				break;
			case 4:
				document.getElementById("middleLeft").style.visibility = "visible";
				break;
			case 5:
				document.getElementById("middleCenter").style.visibility = "visible";
				break;
			case 6:
				document.getElementById("middleRight").style.visibility = "visible";
				break;
			case 7:
				document.getElementById("bottomLeft").style.visibility = "visible";
				break;
			case 8:
				document.getElementById("bottomCenter").style.visibility = "visible";
				break;
			case 9:
				document.getElementById("bottomRight").style.visibility = "visible";
				break;
		} startTimer();
	
	}); 
}


	</script>
	<noscript>
		JavaScript is not working...
	</noscript>
</html>
