<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Register | DigitalNook</title>
	<meta content="Register an account at DigitalNook.net" name="description"/>
	{% include "/includes/meta.html" %}

</head>
<body style="text-align:center">
<header>
	{% include "/includes/header.html" %}
	<h1>Register at Digitalnook</h1>
</header>
<main>
	<div id="loginForm">
		<form action="/register/" method="post" class="flexForm">
			<ul class="flexFormInner">
				<li>
					<label for="username">Username</label>
					<input id="username" name="username" type="text"/>
				</li>
				<li>
					<label for="password">Password</label>
					<input id="password" name="password" type="password"/>
				</li>
				<li>
					<button type='submit'>Register</button>
				</li>
			</ul>
		</form>
	</div>
</main>

<p style="font-style: italic;">{{error}}</p>

<footer>
	<p>
		<a href="/login/">Already a member?</a>
	</p>
	<p>
		<a href="/">Back to Home</a>
	</p>
</footer>
</body>
</html>
