<!DOCTYPE html>
<html charset="UTF-8" lang="en">
<head>
	<title>Register | DigitalNook</title>
	<meta content="Register an account at DigitalNook.net" name="description"/>
	{% include "/includes/meta.html" %}

</head>
<body style="text-align:center">
<header>
	{% include "/includes/header.html" %}
	<h1>Register at Digitalnook</h1>
</header>
<main>
	<div id="registerForm">
		<form action="/register/" method="post"
		      style="margin-left: 20%; margin-right: 20%; width: 60%; text-align: center">
			Username:<br/> <br/>
			<input name="username" placeholder="Enter your username here" type="text"/><br/> <br/>
			Password:<br/> <br/>
			<input name="password" placeholder="Enter your password here" type="password"/><br/> <br/>
			<input class="greenButtona" type='submit' value='Submit'>
		</form>
	</div>
	<br/>
	<p>{{error}}</p>
</main>
<footer style="margin: 30px;">
	<a href="/login/">Already a member?</a>
	<br/> <br/>
	<a href="/">Back to Home</a>
</footer>
</body>
</html>
