<!DOCTYPE html>
<html lang="en">
<head>
	<title>Servers | Digital Nook</title>
	<meta content="Digital Nook Server List" name="description"/>
	{% include "/includes/meta.html" %}

	<style>
		a img {
			max-width: 90%;
			height: auto;
		}
	</style>
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<div>
	<h1>Server list</h1>
	<!--<p>Jump into some gaming action on our Perth-based servers.</p>-->
	<p>Join the <a href="https://discord.gg/aNt8B8p">Discord!</a></p>
</div>
<ul class="mainNav">
	<li class="wrap">
		<p>Sydney Minecraft Survival/Creative @ <a>mc.digitalnook.net</a></p>
		<a href="https://www.gametracker.com/server_info/mc.digitalnook.net:25565/" target="_blank" rel="nofollow">
			<img src="https://cache.gametracker.com/server_info/mc.digitalnook.net:25565/b_560_95_1.png" border="0" width="560" height="95" alt=""/>
		</a>
	</li>
	<li class="wrap">
		<p>Perth CS:GO 1v1 arenas @ <a>cs.digitalnook.net</a></p>
		<a href="https://www.gametracker.com/server_info/digitalnook.net:27015/" target="_blank" rel="nofollow">
			<img src="https://cache.gametracker.com/server_info/digitalnook.net:27015/b_560_95_1.png"
			     alt="digitalnook.net csgo server">
		</a>
	</liclass>
</ul>

<footer>
	<a href="/">Back to Home</a>
</footer>
</body>
</html>
