<!DOCTYPE html>
<html lang="en">
<head>
	<title>Servers | DigitalNook</title>
	<meta content="Digitalnook.net Server List" name="description"/>
	{% include "/includes/meta.html" %}

	<style>
	a {
		display: inline;
	}
	</style>
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<div class='title'>
	<h1>Server list</h1>
	<p>Jump into some gaming action on our Perth-based servers.</p>
</div>
<div class="list">
	<div class="splitList" id="minecraft">
		<p>Minecraft Survival @ <a>digitalnook.net</a></p>
		<a href="https://www.gametracker.com/server_info/58.7.248.17:25565/" target="_blank"><img src="https://cache.gametracker.com/server_info/58.7.248.17:25565/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
	</div>
	<div class="splitListBottom" id="counter-strike">
		<p>CS:GO 1v1 arenas @ <a>digitalnook.net</a><p>
		<a href="https://www.gametracker.com/server_info/58.7.248.17:27015/" target="_blank"><img src="https://cache.gametracker.com/server_info/58.7.248.17:27015/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
	</div>

	<footer style="padding: 20px;">
		<a href="/">Back To Home</a>
	</footer>
</div>
</body>
</html>
