<!DOCTYPE html>
<html lang="en">
<head>
	<title>Servers | DigitalNook</title>
	<meta content="Digitalnook.net Server List" name="description"/>
	{% include "/includes/meta.html" %}

	<style>
	a {
		display: inline;
	}
	</style>
</head>
<body>
<header>
	{% include "/includes/header.html" %}
</header>
<div class='title'>
	<h1>Server list</h1>
</div>
<div class="list">
	<div class="splitList" id="minecraft">
		<p>Minecraft Survival @ <a>mc.digitalnook.net</a></p>
	</div>
	<div class="splitListBottom" id="counter-strike">
		<p>CS:GO servers coming soon<p>
	</div>

	<footer style="padding: 20px;">
		<a href="/">Back To Home</a>
	</footer>
</div>
</body>
</html>
