<!DOCTYPE html>
<html lang="en">
<head>
	<title>Space-O-Rama | digitalnook</title>
	{% include "/includes/meta.html" %}

	<script src="/static/js/phaser.min.js"></script>
	<script src="/static/js/spaceAdventure/Index.js" type="module"></script>
	<style>
		canvas {
			border: solid orangered 3px;
			height: 100%;
		} #game {
			display:inline-block;
			max-width:95%
		} #pretext {
			max-width: 65%;
			text-align:center;
			margin-right: 17.5%;
			margin-left: 17.5%
		}
	</style>
</head>
<body>
<header>
	{% include "/includes/header.html" %}
	<h1>Space-O-Rama</h1>
</header>
<main>
	<div id="game"></div>
	<br/>
	<div id="pretext">
		<p>In this game you must defeat the evil aliens working for the evil 'Doctor 🅱️' Use WASD to move and F to fire</p>
	</div>
</main>
<br/><br/>
<footer>
	<p class="italics">Music from <a href="https://patrickdearteaga.com">Patrick de Arteaga</a></p>
	<a href="/games/">Back to Games</a>
	<br/> <br/><br/>
</footer>
</body>
<script>
	window.addEventListener("load", () => { // make sure canvas element is 100% loaded
		const canvases = document.getElementsByTagName("CANVAS");  // get all canvases on page
		const gameCanvas = canvases[0];  // get first canvas since there is only one
		window.addEventListener("resize", () => { // when window resizes overrule dodgy ass scaling
			gameCanvas.style.width = "100%";  // game canvas fits div 100%
			gameCanvas.style.height = "100%";
			console.log("resizing canvas to fit 'game' div");
		}, true);
	}, true);
</script>
</html>