<!DOCTYPE html>
<html>
<!-- Tennis/Pong game by tom@digitalnook.net -->
<head>
	<title>Tennis | DigitalNook</title>
	<link href="/static/styles1.css" rel="stylesheet" type="text/css"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="favicon/x-icon"/>
	<!-- jquery -->
	<script src="/static/scripts/jquery-3.4.1.js"></script>
	<!-- Phaser Game Framework -->
	<script src="/static/scripts/phaser.js"></script>
	</head> 
<body> 
	<header>
		<h1>Tennis</h1>
	</header>
<script>

</script>
<noscript></noscript>

</body>
</html>

