<!DOCTYPE html>
<html lang="en">
<head>
	<title>What's new | DigitalNook</title>

	{% include "/includes/meta.html" %}
</head>
<body>
<header>
	<h1>What's new at Digitalnook?</h1>
</header>
<main>
	<div class="splitList">
		<p><i>12 January, 2020</i><br/><br/>
			<a href="/games/doctorb/">Doctor B</a> is now live! It is far from finished but it is in a playable state now.<br/>
		</p>

	</div>
	<div class="splitList">
		<p><i>18 December, 2019</i><br/><br/>
			The login system is fully functional and can be used with the new <a href="/games/">Draw Something game.</a> <br/> <br/>
			 In this game you have to convey a word to a friend using only pictures.
			Please send me an <a href="mailto:tom@digitalnook.net">email</a> if you have any issues.
		</p>
	</div>
	<div class="splitListBottom">
		<p><i>22 November, 2019</i><br/><br/>
			Added a login system which can be accessed <a href="/register/">here</a> <br/><br/>
			This does not currently serve any functionality but will be used for a new multi-player game which is coming
			soon <br/>
		</p>
	</div>
</main>
<footer style="margin-top:2%;">
	<p><i>If you have any feedback please <a href="mailto:admin@digitalnook.net">contact me!</a> I would love to hear
		your feedback.</i></p>
	<br/><br/>
	<p><a href="/">Back to Home</a></p>
</footer>
</body>
</html>