<!DOCTYPE html>
<html lang="en">
<head>
	<title>What's new | DigitalNook</title>

	{% include "/includes/meta.html %}
</head>
<body>
<header>
	<h1>What's new at Digitalnook?</h1>
</header>
<main>
	<div class="splitListBottom">
		<p><i>22 November, 2019</i><br/><br/>
			Added a login system which can be accessed <a href="/register/">here</a> <br/><br/>
			This does not currently serve any functionality but will be used for a new multi-player game which is coming
			<em>very</em> soon <br/>
		</p>
	</div>
</main>
<footer style="margin-top:2%;">
	<p><i>If you have any feedback please <a href="mailto:admin@digitalnook.net">contact me!</a> I would love to hear
		your feedback.</i></p>
	<br/><br/>
	<p><a href="/">Back to Home</a></p>
</footer>
</body>
</html>