<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Youtube Downloader | Digital Nook</title>
	{% include "includes/meta.html" %}
</head>
<body>
<header>
	{% include "includes/header.html" %}
	<h1>YouTube Downloader</h1>
	<p>Download videos up to 30 minutes long.</p>
</header>
<main style="margin-bottom: 2%">
	<pre id="processing" style="display: none;">Processing...</pre>
	<form action="/youtubeDownloader/download/" method="post" class="flexForm" id="form">
		<ul class="formListOuter">
			<li>
				<label for="url">YouTube URL</label>
				<input id="url" name="url" type="url" minlength="10" maxlength="100">
			</li>
			<li>
				<button id="submit" type="submit">Download Video</button>
			</li>
		</ul>
	</form>
</main>
<footer>
	<a href="/">Back to Home</a>
</footer>
<script>
const processing = document.getElementById("processing");
const form = document.getElementById("form");

function formSubmit(event) {
	if (!document.getElementById("url").value) {
		return false;
	}

	const url = "/youtubeDownloader/download/";
	const request = new XMLHttpRequest();
	request.responseType = "blob";

	event.target.style.display = "none";
	processing.style.display = "block";

	request.open('POST', url);

	const progressHandler = e => {
		if (e.lengthComputable) {
			let percent = (e.loaded / e.total) * 100;
			processing.innerText = `Downloading: ${percent}%`;
		}
	}

	request.addEventListener('loadstart', progressHandler);
	request.addEventListener('progress', progressHandler);

	request.onload = function() { // request successful
		event.target.style.display = "initial";
		processing.style.display = "none";

		const downloadAnchor = document.createElement("a");
		downloadAnchor.setAttribute("href", window.URL.createObjectURL(request.response));
		downloadAnchor.setAttribute("download", "video.mp4");
		downloadAnchor.style.display = "none";

		document.body.appendChild(downloadAnchor)
		downloadAnchor.click()
		document.body.removeChild(downloadAnchor)
	};

	request.send(new FormData(event.target)); // create FormData from form that triggered event
	event.preventDefault();
}

form.onsubmit = formSubmit;
</script>
</body>
</html>
